<div class="container">
    <header>
        <div class="header-content">
            <div class="header-menu">
                <div class="header-logo">
                    <img src="/assets/logoWhite.png" />
                </div>
                <div class="header-main">
                    <a class="header-link">Все туры</a>
                    <a class="header-link">Отзывы</a>
                    <a class="header-link">Контакты</a>
                </div>
                <button class="header-button">
                    <img src="/assets/icons/menu.svg" />
                </button>
            </div>

            <div class="header-open">
                <h1 class="header-title">Открой для себя
                    <br>Новую Ирландию
                </h1>
                <p class="header-subtitle">Авторские туры по экзотическим
                    <br>уголкам от Александры Курочкиной
                </p>
            </div>

            <div class="header-request">
                <button class="header-button__req">Оставить заявку</button>
                <button class="header-button__play">
                        <img src="/assets/icons/video.svg" />
                        <p class="header-media">Посмотрите
                            <br>Видео-отчет
                            <br>2018-2019
                        </p>
                    </button>
            </div>
            <div class="header-list">
                <div class="header-social">
                    <p class="header-subscribes">Подписывайтесь в соцсетях</p>
                    <button class="header-button__app">
                            <img src="/assets/icons/youTube.svg" />
                        </button>
                    <button class="header-button__app">
                            <img src="/assets/icons/vk.svg" />
                        </button>
                    <button class="header-button__app">
                            <img src="/assets/icons/facebook.svg" />
                        </button>
                    <button class="header-button__app">
                            <img src="/assets/icons/twitter.svg" />
                        </button>
                </div>
            </div>
        </div>
    </header>
    <content>
        <div class="content-box">
            <div class="content-block">
                <div class="content-image"></div>
                <div class="content-items">
                    <p class="content-title">Посмотрите <a class="content-way">все <br> направления</a> туров <br>по необычным местам</p>
                    <p class="content-subtitle">Африка, Гаваи, Европа, тропики...</p>
                    <button class="content-button">Смотреть все</button>
                </div>
            </div>
            <div class="content-block">
                <div class="content-items">
                    <p class="content-title">Почитайте, что <br><a class="content-way">пишут участники</a><br>путешествий</p>
                    <p class="content-subtitle">87% участников приходят по личной рекомендации от друзей</p>
                    <button class="content-button">Смотреть все</button>
                </div>
                <div class="content-image"></div>
            </div>

        </div>
    </content>
    <footer>
        <div class="footer-block">
            <img src="/assets/logoDark.png" />
            <a class="footer-link">Политика <br>конфидециальнности</a>
        </div>
    </footer>
</div>