:host
    font-family 'Golos'

.container
    display flex
    flex-direction column

header
    background-image url("/assets/Ireland.jpg")
    width 100%
    height 1059px

.header-content
    padding 80px 140px
    color #fff

.header-menu
    display flex
    justify-content space-between
    align-items center
    margin-bottom 180px

.header-main
    font-weight 500
    font-size 16px
    line-height 16px

.header-link
    margin-left 50px


.header-open
    margin-bottom: 70px

.header-title
    font-weight 700
    font-size: 70px
    line-height: 95px
    margin-bottom: 50px

.header-subtitle
    font-weight: 500
    font-size: 25px
    line-height: 45px

.header-button
    &__req
        width: 280px
        height: 75px
        background-color: #FFC806
        border-radius: 75px
        font-weight: 600
        font-size: 20px
        line-height: 20px

    &__play
        display: flex
        justify-content: space-between
        align-items: center

    &__app
        margin-right: 45px

.header-media
    color #fff
    font-weight: 500
    font-size: 16px
    line-height: 25px
    margin-left: 20px

.header-request
    width: 550px
    display: flex
    justify-content: space-between
    margin-bottom: 120px

.header-subscribes
    font-size: 17px
    font-weight: 500
    line-height: 25px
    margin-bottom: 25px

content
    flex 1 1 auto

.content-box    
    padding 80px 140px

.content-block
    display: flex
    justify-content: space-between
    margin-bottom: 70px

.content-image
    width: 700px
    background-image: url("/assets/hawaii.png")
    height: 470px
    border-radius: 16px

.content-title
    color: #333333
    font-weight: 700
    font-size: 40px
    line-height: 52px
    margin-bottom: 40px

.content-way
    color #FFC806

.content-subtitle
    font-weight 600
    font-size 20px
    line-height: 20px
    color #B5B5B5
    margin-bottom: 70px

.content-button
    width: 309px
    height: 75px
    color #FFC806
    border: 2px solid #FFC806;
    border-radius: 75px
    font-weight: 600
    font-size: 20px
    line-height: 20px

footer
    background-color #B5B5B5

.footer-block
    display: flex
    justify-content: space-between
    padding 40px 140px

.footer-link
    text-align: center
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color  #333333

