@font-face
	font-family 'Golos'
	src url('/assets/fonts/Golos_Black.woff2') format('woff2'),
	url('/assets/fonts/Golos_Black.woff') format('woff')
	font-weight 900
	font-style normal

@font-face
	font-family 'Golos'
	src url('/assets/fonts/Golos_Bold.woff2') format('woff2'),
	url('/assets/fonts/Golos_Bold.woff') format('woff')
	font-weight 700
	font-style normal

@font-face
	font-family 'Golos'
	src url('/assets/fonts/Golos_DemiBold.woff2') format('woff2'),
	url('/assets/fonts/Golos_DemiBold.woff') format('woff')
	font-weight 600
	font-style normal

@font-face
	font-family 'Golos'
	src url('/assets/fonts/Golos_Medium.woff2') format('woff2'),
	url('/assets/fonts/Golos_Medium.woff') format('woff')
	font-weight 500
	font-style normal

@font-face
	font-family 'Golos'
	src url('/assets/fonts/Golos_Regular.woff2') format('woff2'),
	url('/assets/fonts/Golos_Regular.woff') format('woff')
	font-weight 400
	font-style normal

body
    font-family 'Golos'